body {
    background-color: #1F2937;
    color: white;
    font-family: "Karla", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px; 
}

.container {
    background-color: #273549;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #4ADF86;
    margin-bottom: 20px;
    font-size: 24px; 
}

.password-content {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    flex-direction: column; 
}

#copy-btn {
    background-color: #4ADF86;
    color: white;
    border: none;
    padding: 10px 20px; 
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.password-display {
    background-color: #1F2937;
    color: #4ADF86;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px; 
    min-height: 30px;
    width: 100%;
    text-align: center;
}

.settings {
    text-align: left;
}

.length-setting {
    margin-bottom: 20px;
}

.length-setting input[type="range"] {
    width: 100%;
}



input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #4ADF86;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    position: relative;
    margin-bottom: 0;
}

input[type="checkbox"]:checked {
    background-color: #4ADF86;
}

input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 6px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox-settings label {
    display: block;
    margin: 10px 0;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #ddd !important;
    outline: none;
    transition: opacity 0.2s;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {

    height: 8px;
    border-radius: 5px;
    background: #4ADF86;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: green;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    margin-top: -6px; /* Centrer le curseur */
}

/* Barre remplie (Firefox) */
input[type="range"]::-moz-range-progress {
    background: green;
    height: 8px;
    border-radius: 5px;
}

input[type="range"]::-moz-range-track {
    background: #ddd;
    height: 8px;
    border-radius: 5px;
}

.strength-indicator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.strength-bar {
    display: flex;
    align-items: center;
}

.bar {
    width: 50px;
    height: 10px;
    background-color: #10B981;
    margin-right: 10px;
}

#generate-btn {
    background-color: #10B981;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

#copied-message {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #10B981;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

.footer {
    margin-top: 20px;
    font-size: 14px;
    color: #6B7280;
}

@media (min-width: 768px) {
    h1 {
        font-size: 36px; 
    }

    .password-content {
        flex-direction: row; 
        gap: 20px;
    }

    #copy-btn {
        width: auto; 
    }

    .password-display {
        font-size: 24px; 
        min-width: 280px; 
    }
}